* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.page-body {
    height: 100vh;
    background-color: black;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-section {
    padding: 0 0 15px 0;
    height: 100vh;
    overflow: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    @media (min-width: $tablet-width) {
        padding: 0 0 24px 0;
        //
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        // align-items: center;
        // justify-content: center;
    }
}
